.content {
	flex: 1 1 auto;
	display: flex;
	flex-flow: row wrap;
	align-content: flex-start;
	color: $grey;
	overflow-y: scroll;
	padding: 1rem;

	&__header {
		flex: 1 1 100%;
		display: flex;
	    justify-content: space-between;
	}

	&__tabs {
		flex: 1 1 100%;
		margin-bottom: 2rem;

		li {
			display: inline-block;
		}
	}

	&__info {
		flex: 1 1 auto;
		margin-bottom: 2rem;

		li {
			display: inline-block;
			border: 1px solid $grey;
		    text-align: center;
			min-width: 5rem;
			padding: 1rem;

			h3, p {
				margin: 0;
			}

			h3 {
				margin-bottom: 1rem;
			}
		}
	}

	&__filter {
		flex: 0 0 auto;
	    align-self: center;
		display: inline-block;
		margin-bottom: 2rem;
	}

	&__table {
		flex: 1 1 100%;
		border: 1px solid $grey;

		&--header {
			width: 100%;
			padding: 1rem;

			p, button {
				display: inline-block;
			}

			p {
				margin: 0 .6rem 0 0;
			}
		}

		&--scroller {
			position:relative;
			overflow-x: scroll;
		}

		&--body {
			width: 100%;
			min-width: 900px;

			@media(min-width: 900px){
				min-width: auto;
			}

			thead, tbody {

			}

			tr {
				border-top: 1px solid $grey;
			}

			td, th {
				white-space: nowrap;
				padding-top: .6rem;
				padding-bottom: .6rem;
				padding-left: .4rem;
				padding-right: .4rem;
				text-align: center;

				@media(min-width: 900px){
					white-space: normal;
				}

				&:first-child {
					padding-left: .6rem;
				}

				&:last-child {
					padding-right: .6rem;
				}
			}
		}
	}
}