.wrapper {
	display: flex;
	flex-flow: column nowrap;
	align-content: stretch;
	align-items: stretch;
	width: 100%;
	height: 100vh;
}

.primary {
	display: flex;
	flex-flow: row nowrap;
	flex: 1 1 auto;
	overflow: hidden;
	position: relative;
}