.header {
    flex: 0 0 2.6rem;
	display: flex;
	flex-flow: row nowrap;
	@include bg-gradient($blue, $purple);
    align-items: center;
    position: relative;

    &__hamburger {
        position: absolute;
        left: 1rem;
        top: 0.7rem;
        font-size: 1.2rem;
    }

	&__logo {
		flex: 0 0 14rem;
		padding: 0 4rem;
	}

	&__search {
		flex: 1 1 10rem;
		max-width: 16rem;
        height: 1.8rem;
        margin-right: 1.6rem;
        padding-left: .6rem;
	}

	&__link-list {
		flex: 1 1 auto;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        &--item {
            display: inline-block;
            margin-right: 1.6rem;

            p {
                margin: 0;
            }

            span {
                margin-right: .6rem;
            }
        }
	}
}