@mixin bg-gradient($first, $second) {
	background-color: $first;
	background-image: linear-gradient(to right, $first, $second);
	background: -webkit-gradient(linear, left top, right top, from($first), to($second));
	background: -webkit-linear-gradient(left, $second, $first);
	background: -moz-linear-gradient(left, $second, $first);
}

@mixin slBtn($bg-color: $white, $color: $grey, $border: 1px solid $grey){
	padding: .5rem .85rem;
	background-color: $bg-color;
	border: $border;
	color: $color;
	border-radius: $border-radius;
}

@mixin shadow(){
	-webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
	-moz-box-shadow:    0 3px 6px rgba(0, 0, 0, 0.1);
	box-shadow:         0 3px 6px rgba(0, 0, 0, 0.1); 
}