.modal {

	&__container {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		background-color: $black-trans;
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
	}

	&__box {
		@include shadow;
		width: 80%;
		max-width: 35rem;
		background-color: $white;
		margin: 0 auto;

		&.remove-modal {
			border-top: .6rem solid $red;
		}

		&.add-modal {
			border-top: .6rem solid $green;
		}
	}

	&__header,
	&__content,
	&__footer {
		width: 100%;
		padding: 0 1rem;
	}

	&__header {
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		background-color: $offwhite;

		h2 {
			flex: 1 1 auto;
		}

		i {
			flex: 0 0 auto;
			font-size: 1.2rem;
			color: $grey;
		}
	}

	&__content {
		margin: 2rem 0 1rem;

		&--description {
			margin: 0 0 2rem;
		}

		label {
			display: flex;
			flex-flow: row nowrap;
			align-items: center;
			margin-bottom: .6rem;

			p {
				margin: 0 1rem 0 0;
				flex: 0 0 4rem;
			}

			input {
				flex: 1 1 auto;
				height: 2.4rem;
				padding-left: .4rem;
				border-radius: $border-radius;
				border: 1px solid $light-grey;
			}

		}
	}

	&__footer {
		padding: 1rem;
		border-top: 1px solid $light-grey;
		display: flex;
	    flex-flow: row nowrap;
	    justify-content: flex-end;

		&--confirm {
			@include slBtn;

			.remove-modal & {
				border-color: $red;
				color: $red;
			}

			.add-modal & {
				border-color: $green;
				color: $green;
			}
		}

		&--cancel {
			@include slBtn;
		}

		button {
			margin-left: .6rem;
		}
	}

	.remove-modal {
		$theme: $red;
	}

	.add-modal {
		$theme: $green;
	}
}