.navigation {
	flex: 0 0 14rem;
	display: flex;
	flex-flow: column nowrap;
	background-color: $grey;

	&__list {
		flex: 1 1 auto;
		overflow-y: scroll;

		&--item {
			display: flex;
		    margin: 2rem 1.2rem 0;

			i {
				margin-right: .6rem;
			}
		}
	}
}