.navigation {
	flex: 0 0 100%;
	display: flex;
	flex-flow: column nowrap;
	background-color: $grey;
	position: relative;

	@media(min-width: 750px){
		flex: 0 0 14rem;
	}

	&__list {
		flex: 1 1 auto;
		overflow-y: scroll;

		&--item {
			display: flex;
		    margin: 2rem 1.2rem 0;

			i {
				margin-right: .6rem;
			}
		}
	}

	&.hidden {
		position: absolute;
		left: -50vh;
		height: 100vh;
		width: 14rem;

		@media(min-width: 750px){
			position: static;
		}
	}

	&.active {
	}
}