* {
	box-sizing: border-box;
}

body {
	font-size: 12px;
	color: $white;
	font-family: $mont;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ul {
	padding: 0;
	margin: 0;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

button {
	border: 0;
	background-color: $white;
}