* {
	box-sizing: border-box;
}

body {
	color: $white;
	font-family: $mont;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ul {
	padding: 0;
	margin: 0;
}

li {
	list-style: none;
}