// Fonts
$mont: 'Montserrat', sans-serif;

// Colors
$blue: #1993d0;
$green: #58b847;
$yellow: #fA9f47;
$red: #e25151;
$purple: #8d5ca5;

$white: #ffffff;
$light-grey: #e8e8e8;
$grey: #425967;
$dark-grey: #5c5c5c;

// Other
$border-radius: .2rem;