<header class="content__header">
	<h2>Cadence Name</h2>
	<button>Exit to Cadences</button>
</header>
<section class="content__container">
	<div class="content__tabs">
		<button>Overview</button>
		<button class="active">People</button>
		<button>Sent</button>
		<button>Steps</button>
		<button>Settings</button>
	</div>
	<ul class="content__info">
		<li>
			<h3>4</h3>
			<p>Active</p>
		</li>
		<li>
			<h3>12</h3>
			<p>Bounced</p>
		</li>
		<li>
			<h3>4</h3>
			<p>Opened</p>
		</li>
		<li>
			<h3>6</h3>
			<p>Clicked</p>
		</li>
		<li>
			<h3>2</h3>
			<p>Replied</p>
		</li>
		<li>
			<h3>17</h3>
			<p>Called</p>
		</li>
	</ul>
	<label class="content__filter">
		<span>Filter by Step</span>
		<span class="content__filter--select">
			<select name="step-filter" ng-model="activeStep" ng-change="filterSteps(activeStep)">
				<option value="" selected>All</option>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
			</select>
			<i class="fa fa-chevron-down"></i>
		</span>
	</label>
	<section class="content__table">
		<header class="content__table--header">
			<p>With Selected (<span>{{ checkedCount }}</span>):</p>
			<button class="greenBtn" ui-sref="home.addModal">
				<i class="fa fa-plus"></i>
				Add to Cadence
			</button>
			<button class="redBtn" ui-sref="home.removeModal">
				<i class="fa fa-recycle"></i>
				Remove from Cadence
			</button>
			<button>
				<i class="fa fa-fast-forward"></i>
				Skip Next Action
			</button>
			<button>
				<i class="fa fa-pencil-square-o"></i>
				Send One-Off Email
			</button>
			<button>
				<i class="fa fa-share-square-o"></i>
				Export to CSV
			</button>
		</header>
		<div class="content__table--scroller">
			<table class="content__table--body">
				<thead>
					<tr>
						<th>
							<input type="checkbox" ng-model="allChecked" ng-change="checkAll(allChecked)">
						</th>
						<th>
							<i class="fa fa-star-o" ng-if="!allStarred" ng-click="starAll(allStarred)"></i>
							<i class="fa fa-star" ng-if="allStarred" ng-click="starAll(allStarred)"></i>
						</th>
						<th class="clickable" ng-click="reverse = !reverse; sortBy('name', reverse)">
							Name
							<i class="fa fa-sort"></i>
						</th>
						<th class="clickable" ng-click="reverse = !reverse; sortBy('company', reverse)">
							Company
							<i class="fa fa-sort"></i>
						</th>
						<th class="clickable" ng-click="reverse = !reverse; sortBy('stage', reverse)">
							Stage
							<i class="fa fa-sort"></i>
						</th>
						<th class="clickable" ng-click="reverse = !reverse; sortBy('step', reverse)">
							Step
							<i class="fa fa-sort"></i>
						</th>
						<th>
							<i class="fa fa-eye"></i>
						</th>
						<th>
							<i class="fa fa-hand-pointer-o"></i>
						</th>
						<th>
							<i class="fa fa-mail-reply"></i>
						</th>
						<th>
							<i class="fa fa-phone"></i>
						</th>
						<th>
							Due On
						</th>
						<th class="clickable" ng-click="reverse = !reverse; sortBy('lastContacted', reverse)">
							Last Contacted
							<i class="fa fa-sort"></i>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in list">
						<td>
							<input type="checkbox" ng-model="item.isChecked" ng-change="checkItem(item)">
						</td>
						<td>
							<i class="fa fa-star-o" ng-if="!item.starred" ng-click="starItem(item)"></i>
							<i class="fa fa-star" ng-if="item.starred" ng-click="starItem(item)"></i>
						</td>
						<td>
							{{ item.name }}
						</td>
						<td>
							{{ item.company }}
						</td>
						<td>
							{{ item.stage }}
						</td>
						<td>
							Step {{ item.step }}
						</td>
						<td>
							{{ item.views }}
						</td>
						<td>
							{{ item.clicks }}
						</td>
						<td>
							{{ item.replies }}
						</td>
						<td>
							{{ item.calls }}
						</td>
						<td>
							{{ item.due }}
						</td>
						<td>
							{{ item.lastContacted }}
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</section>

	<!-- Modal -->
	<section class="modal" ui-view="modal"></section>

</section>